label{
		width: 100px;
	height: 100px;
	font-size: 25px;
background: black;
Color: white;
border-radius: 20px 20px 20px 20px;
width: 200px;
}
}
.field{
	clear: both; text-align:right; line-height: 25px;
}

input {

float: left; padding-right: 10px;
}
.main{
	float: left;
}
p{	width: 100px;
	height: 50
px;
	font-size: 25px;
background: black;
Color: white;
border-radius: 20px 20px 20px 20px;
}
#body{
	background-image: url(2.jpg);
}